@import url('https://fonts.googleapis.com/css?family=Oswald:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300|Trade+Winds&display');
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    background: url('../images/bookbg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    width: 600px;
    margin-top: 10px;
    background: linear-gradient(90deg, #755bea, #ff72c0);
    box-shadow: 0 0 100px 50px #5bea;
    border: 2p solid #bea;
    border-radius: 10px;
    transition: 10s;
    overflow: hidden;
}
h2{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    user-select: none;
    text-transform: uppercase;
}
.form{
    margin: 30px;
    box-sizing: border-box;
}
.user input{
    width: 400px;
    height: 30px;
    margin-top: 5%;
    border: none;
    background: transparent;
    border-bottom: 3px solid #fff;
    font-size: 20px;
}
.username input {
    width: 400px;
    height: 30px;
    margin-top: 5%;
    border: none;
    background: transparent;
    border-bottom: 3px solid #fff;
    font-size: 20px;
    outline:none
}
.user input::placeholder{
    color: #222;
}
.username input::placeholder{
    color: #222;
}
textarea{
    width: 400px;
    height: 200px;
    background:linear-gradient(180deg, #5bea, #ffc0);
    box-shadow: 0 0 20px 4px #303030;
    resize: none;
    margin-top: 3%;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
}
textarea::placeholder{
      color: #222;
}
.sub{
    margin-top: 15%;
    position: relative;
}
.sub input{
    font-size: 20px;
    width: 400px;
    height: 40px;
    border-radius: 50px;
    background:linear-gradient(90deg, #5bea, #ffc0);
    border: 3px solid #fff;
    color: #f2f2f2;
    font-family:'Trade Winds', cursive;

}
.sub input[type='submit']:active{
    border-color: #755bea;
}
.rating{
    position: absolute;
    margin-left: 50px;
    display: flex;
    flex-direction: row-reverse;
}
.rating input{
    display: none;
}
.rating label img{
    width: 50px;
}
.rating label{
    position: relative;
    width: 0px;
    height: 120px;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(1);
    text-align: center;
    opacity: 0;
}
.rating:hover label{
    width: 100px;
    opacity: 0.2;
}
.rating input:hover + label,
.rating input:checked + label{
    opacity: 1;
    width: 100px;
    filter: grayscale(0);
}
.rating label h4{
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
    transform: translate(-50px) scale(0);
    padding-top: 0px;
    transition: 0.5s;
}
.rating input:hover + label h4,
.rating input:checked + label h4{
    transform: translate(0) scale(1);
    opacity: 1;

}

